<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj ønske</title>
    <link rel="icon" href="/images/favicon.ico" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/headlineAndInput.css">
    <link rel="stylesheet" href="/layout.css">

</head>



<body>

<header class="topbar">
    <a href="/Gaveaesken/MyWishList" class="logo-link">
        <img src="/images/Gifty.PNG" alt="Logo" class="logo">
        <span class="site-name">GAVEÆSKEN</span>
    </a>
</header>
<main>
<h2>Tilføj nyt ønske</h2>

<form th:action="@{/Gaveaesken/addWish}" th:object="${giftWish}" method="post">
    <input type="hidden" name="wishListId" th:value="${wishListId}" />

    <div>
        <div class="group">
            <input th:field="*{giftWishName}" placeholder="Navn på ønske" type="search" class="input" required>
        </div>

    </div>

    <br>

    <div class="buttonRow">
        <button type="submit" id="submitButton" class ="btn">Tilføj</button>
        <a th:href="@{/Gaveaesken/MyWishes(wishListId=${wishListId})}" class ="btn">Tilbage</a>
    </div>

</form>
</main>
</body>
</html>
