<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new wishList</title>
    <link rel="icon" href="/images/favicon.ico" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/headlineAndInput.css">
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/layout.css">
</head>
<body>

<header class="topbar">
    <a href="/Gaveaesken/MyWishList" class="logo-link">
        <img src="/images/Gifty.PNG" alt="Logo" class="logo">
        <span class="site-name">GAVEÆSKEN</span>
    </a>
</header>

<main>
<h2>Tilføj ny ønskeliste</h2>

<form th:action="@{/Gaveaesken/addWishList}" th:object="${wishList}" method="post">


<div>
    <div class="group">
        <input th:field="*{wishListName}" placeholder="Navn på ønskeliste" type="search" class="input" required>
    </div>

</div>

    <div class="buttonRow">
        <button type="submit" id="submitButton" class ="btn">Tilføj</button>
        <a th:href="@{/Gaveaesken/MyWishList}" class ="btn">Tilbage</a>
    </div>

</form>
</main>
</body>
</html>