<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new wishList</title>
    <link rel="icon" href="/images/favicon.ico" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
</head>
<body>

<form th:action="@{/Gaveaesken/addWishList}" th:object="${wishList}" method="post">


<div>
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{wishListName}" placeholder="Enter wishlist name" required/>

</div>

    <div class="buttonRow">
        <button type="submit" id="submitButton">Ok</button>
        <a th:href="@{/Gaveaesken/MyWishList}" id="cancelButton">Cancel</a>
    </div>

</form>
</body>
</html>