<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add wish to wishlist</title>
</head>
<body>
<form th:action="@{/Gaveaesken/addWish}" th:object="${giftWish}" method="post">

    <input type="hidden" name="wishListId" th:value="${wishListId}" />

    <div>
        <label for="giftWishName">Wish name </label>
        <input type="text"
               id="giftWishName"
               th:field="*{giftWishName}"
               placeholder="Enter your wish" required/>

    </div>

    <div class="buttonRow">
        <button type="submit" id="submitButton">Ok</button>
        <a href="/Gaveæsken" id="cancelButton">Cancel</a>
    </div>

</form>
</body>
</html>