<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new wishList</title>
</head>
<body>

<form th:action="@{/Gaveæsken/addWishList}" th:object="${WishList}" method="post">


<div>
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{wishListName}" placeholder="Enter wishlist name" required/>

</div>

    <div class="buttonRow">
        <button type="submit" id="submitButton">Ok</button>
        <a href="/Gaveæsken" id="cancelButton">Cancel</a>
    </div>

</form>
</body>
</html>