<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/images/Gifty.PNG" type="image/png">
    <link rel="shortcut icon" href="/images/Gifty.PNG" type="image/png">
</head>
<body>
<table>
    <tbody>
    <tr th:each="showWish : ${wishList}">
        <td>
            <a th:href="@{/Gaveaesken/MyWishes(wishListId=${showWish.id})}" th:text="${showWish.wishListName}">
        </a>
        </td>
        <td>
            <a th:href="@{/Gaveaesken/editWishList(id=${showWish.id})}">Edit</a>
            <form th:action="@{/Gaveaesken/delete/wishList}" method="post" style="display:inline;">
                <input type="hidden" th:name="id" th:value="${showWish.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/Gaveaesken/addWishList}">Tilføj ønskeliste</a>
</body>
</html>
