<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Handling</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="showWish : ${wishList}">
        <td th:text="${showWish.nameOfWishList}">WishList Name</td>
        <td>
            <a th:href="@{/Gaveaesken/editWishList(id=${showWish.id})}">Edit</a>
            <form th:action="@{/Gaveaesken/delete/wishList}" method="post" style="display:inline;">
                <input type="hidden" th:name="id" th:value="${showWish.id}" />
                <button type="submit">Delete</button>
            </form>
            <a th:href="@{/Gaveaesken/MyWishes(wishListId=${showWish.id})}">Vis ønskelisten</a>

        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/Gaveaesken/addWishList}">Tilføj ønskeliste</a>
</body>
</html>
