<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mine Ønskelister</title>

    <link rel="icon" href="/images/Gifty.PNG" type="image/png">
    <link rel="shortcut icon" href="/images/Gifty.PNG" type="image/png">

    <link rel="stylesheet" href="/deleteAndEditButton.css">
    <link rel="stylesheet" href="/starButton.css">

</head>

<body>
<table>
    <tbody>
    <tr th:each="showWish : ${wishList}">
        <td>
            <a th:href="@{/Gaveaesken/MyWishes(wishListId=${showWish.id})}"
               th:text="${showWish.wishListName}"></a>
        </td>

        <td class="action-buttons">
            <a th:href="@{/Gaveaesken/editWishList(id=${showWish.id})}">
                <button type="button" class="icon-btn edit">

                    <svg class="icon" fill="none" height="24" viewBox="0 0 24 24" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <g stroke="#333" stroke-linecap="round" stroke-width="1.4">
                            <path d="m20 20h-16"></path>
                            <path clip-rule="evenodd"
                                  d="m14.5858 4.41422c.781-.78105 2.0474-.78105 2.8284 0 .7811.78105.7811 2.04738 0 2.82843l-8.28322 8.28325-3.03046.202.20203-3.0304z"
                                  fill-rule="evenodd"></path>
                        </g>
                    </svg>
                </button>
            </a>
        </td>
        <td>
            <form th:action="@{/Gaveaesken/delete/wishList}" method="post">
                <input type="hidden" th:name="id" th:value="${showWish.id}" />
                <button type="submit" class="icon-btn delete">
                    <svg viewBox="0 0 15 17.5" height="17.5" width="15"
                         xmlns="http://www.w3.org/2000/svg" class="icon">
                        <path transform="translate(-2.5 -1.25)"
                              d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z"
                              id="Fill"></path>
                    </svg>
                </button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<div th:if="${#lists.isEmpty(wishList)}" style="text-align:center; margin-top:20px;">
    <img src="/images/GiftySleep.PNG" alt="Ingen ønskelister endnu" width="150" height="150">
    <p>Du har endnu ikke oprettet nogen ønskelister</p>
</div>
<div class="add-wishlist-container">
    <button class="star-button">
    <a th:href="@{/Gaveaesken/addWishList}">Tilføj ny ønskeliste</a>
    <div class="star-1">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
        >
      <defs></defs>
            <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                        class="fil0"
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                ></path>
      </g>
    </svg>
    </div>
    <div class="star-2">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
        >
      <defs></defs>
            <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                        class="fil0"
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                ></path>
      </g>
    </svg>
    </div>
    <div class="star-3">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
        >
      <defs></defs>
            <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                        class="fil0"
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                ></path>
      </g>
    </svg>
    </div>
    <div class="star-4">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
        >
      <defs></defs>
            <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                        class="fil0"
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                ></path>
      </g>
    </svg>
    </div>
    <div class="star-5">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
        >
      <defs></defs>
            <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                        class="fil0"
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                ></path>
      </g>
    </svg>
    </div>
    <div class="star-6">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
        >
      <defs></defs>
            <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                        class="fil0"
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                ></path>
      </g>
    </svg>
    </div>
</button>
</div>
</body>
</html>
