<table>
    <thead>
    <tr>
        <th>Ønske</th>
        <th>Handling</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish : ${giftWish}">
        <td th:text="${wish.giftWishName}">Wish Name</td>
        <td>
            <form th:action="@{/Gaveaesken/delete/giftWish}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${wish.giftId}" />
                <button type="submit">Slet</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/Gaveaesken/addWish(wishListId=${wishListId})}">Tilføj nyt ønske</a>
