.btn {
    padding: 12px 35px;
    border: 3px solid #482960;
    outline: none;
    background-color: #482960;
    color: #eee;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease-out;
    margin: 10px;

}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}


button.container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn span {
    color: #aaa;
}