.icon-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s linear;
}

.icon-btn.icon-edit:hover svg g {
    stroke: #D6A2AD;
    transform: scale(1.2);
    transition: transform 0.2s linear, stroke 0.2s linear;
}


.icon-btn.icon-delete:hover svg path {
    fill: #D6A2AD;
    transform: scale(1.2);
    transition: transform 0.2s linear, fill 0.2s linear;
}

.icon-btn::after {
    content: attr(data-tooltip);
    position: relative;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #333;
    background: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.icon-btn:hover::after {
    opacity: 1;
}