* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    background-color: #482960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    height: 70px;
    width: auto;
    margin-right: 30px;
}

.site-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

